/* ================= Navbar ================= */
.navbar {
  background-color: #1e1e1e;
  padding: 0.8rem 2rem;
  box-shadow: 0 2px 5px rgba(34, 23, 27, 0.3);
  font-family: 'Segoe UI', Roboto, sans-serif;
}

/* Container per gli elementi */
.navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Gruppi di link */
.nav-left,
.nav-right {
  display: flex;
  gap: 1rem;
  position: relative; /* importante per il dropdown */
}

/* Link principali */
.nav-link {
  color: #ddd !important;
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.3s ease;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 0.5rem 1rem !important;
}

/* Hover e attivo */
.nav-link:hover,
.nav-link.active {
  color: #fff !important;
  background-color: #343a40;
  border-radius: 8px;
}

/* ================= Avatar e Dropdown ================= */
.avatar-link {
  display: flex;
  align-items: center;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
  object-fit: cover;
}



/* ================= Navbar mobile ================= */
@media (max-width: 991px) {
  .navbar-nav {
    flex-direction: column;
    justify-content: center;
  }

  .nav-left,
  .nav-right {
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: 0.2rem;
  }

  .nav-link {
    width: 100%;
    margin: 0.2rem 0;
  }

}
